<li>
    <MenuNavLink Href="/settings">@ConfigureText</MenuNavLink>
</li>
<li>
    <MenuNavLink Href="/import">@ImportText</MenuNavLink>
</li>
<li>
    <details>
        <summary>@TestingText</summary>
        <ul class="p-2 bg-neutral text-neutral-content">
            <li>
                <MenuNavLink Href="/config-test">@ConfigTestText</MenuNavLink>
            </li>
        </ul>
    </details>
</li>
<li>
    <MenuNavLink Href="/create">@CreateText</MenuNavLink>
</li>

@code {
    const string TestingText = "Testing";
    const string ConfigTestText = "Configuration";

    const string ConfigureText = "Configure Tooling";
    const string CreateText = "Create";

    const string CreateMaterialText = "Material";
    const string CreateItemText = "Item";
    const string CreateStatText = "Stat";
    const string CreateSkillText = "Skill";

    const string ImportText = "Import";
}
